$bg-color-1: #fff;

$border-color-1: #e0e7fe;
$border-color-2: #ebebeb;
$border-color-3: #999;

$text-color-1: #000;
$text-color-2: #9b9b9b; //desc
$text-color-3: #9fb7fc;

$active-text-1: #3782ff;

$number-color-1: #3d86ff;
$number-color-2: #4aec54;